
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'modules/const.scss';
@import 'modules/reset.scss';
@import 'modules/header.scss';
@import 'modules/form-search.scss';
@import 'modules/products.scss';
@import 'modules/sidebar.scss';
@import 'modules/page-card.scss';
@import 'modules/page-compare.scss';
@import 'modules/footer.scss';
@import 'modules/slick.scss';
@import 'modules/rSlider.scss';


:root{
	--white: #{$color_white};
	--black: #{$color_black};
	--green: #{$color_green};
	--red: #{$color_red};
	--grey: #{$color_grey};
}


body{
  background: $color_white;
  font-family: "Poppins", serif;
  color: $color_black;
  font-size: 14px;
  line-height: 21px;
  overflow-x: hidden;
  min-width: 320px;
}


.container{
	max-width: 1180px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}





#promo{
	padding: 175px 0 78px;
	text-align: center;
	background: url("../images/promo-image.png") 50% 0% no-repeat;
	background-size: cover;


	h1{
		font-size: 43px;
		font-weight: 500;
		line-height: 75%;
		margin-bottom: 45px;

		strong{
			font-weight: 500;
			color: $color_green;
		}
	}
}




#promo__page{
	padding: 130px 0 30px;
	text-align: center;
	background: url("../images/promo-image.png") 50% 0% no-repeat;
	background-size: cover;
}





#products__list{
	padding: 60px 0 90px;
}




#products__list__page{
	padding: 0 0 90px;

	.container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}


	#sidebar{
		width: 268px;
	}

	.product__data{
		width: calc(100% - 300px);

		.products__list{
			.product__item{
				.data{
					width: calc(100% - 300px);
				}
				.info{
					width: 90px;
				}
			}
		}
	}
}





#similar__products{
	padding: 50px 0 90px;

	.slick-slide{
		margin: 0 12px;
	}
	.slick-list{
		margin: 0 -12px;
	}
	.products__list{
		.product__item{
			padding: 15px;
			.image{
				width: 100%;
				margin-bottom: 10px;
			}
			.data{
				width: 100%!important;
				.more{
					position: relative;
					margin-top: 10px;
				}
			}
			.info{
				padding: 10px 0 0;
				width: 100%!important;
				display: flex;
				align-items: center;
				justify-content: space-between;
				text-align: left;
			}
		}
	}
}


.slick-arrow{
	width: 25px;
	height: 25px;
	background: url("../images/arrow-right.svg") 50% 50% no-repeat;
	background-size: 100% 100%;
	border: none;
	font-size: 0;
	cursor: pointer;
	transition: all 0.2s;
	position: absolute;
	top: -64px;
}

.slick-prev{
	transform: rotate(180deg);
	left: calc(100% - 60px);
}
.slick-next{
	right: 0;
}




#page__card{
	.main__data{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
}




.tab__filters{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 20px;

	a{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		padding: 0 25px;
		border-radius: 30px;
		border: 1px solid transparent;
		color: $color_green;
		font-weight: 600;

		&.active{
			border-color: $color_green;
		}

		&:hover{
			background: $color_green;
			color: $color_white;
		}
	}
}




.tabs{
	.tab{
		display: none;
		&.tab1{
			display: block;
		}
	}
}




.content{
	line-height: 150%;
	font-weight: normal;
	font-size: 14px;

	p{
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	a{
		color: $color_green;
		border-bottom: 1px solid $color_green;
		&:hover{
			border-color: transparent;
		}
	}
}




.filters{
	padding: 0 0 20px;
	margin-top: -72px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;

	.views{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;

		.btn{
			background: #F4F6F9;
			&:hover,&.active{
				background: $color_green;
			}
		}

		img{
			width: 20px;
		}
	}

	select{
		padding: 0 40px 0 20px;
		border: 1px solid transparent;
		color: $color_black;
		height: 50px;
		font-size: 14px;
		background: url("../images/arrow-down.svg") 90% 50% no-repeat;
		cursor: pointer;
		transition: all 0.2s;

		&:focus{
			border: 1px solid $color_black;
		}
	}
}





#page__compare{
	padding: 0 0 90px;
}




#breadcrumbs{
	padding: 40px 0;

	ul{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
		color: $color_green;

		span{
			color: $color_black;
		}

		a{
			color: $color_black;
			border-bottom: 1px solid transparent;

			&:hover{
				border-color: $color_black;
			}
		}
	}
}




.pagination{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0 0;

	.btn{
		min-width: 176px;
		height: 50px;
	}

	.pagination__items{
		padding: 0 0 40px;
		width: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;

		span,a{
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			width: 40px;
			height: 40px;
			background: #F4F5F8;
			color: $color_black;
		}
		span,a:hover{
			background: $color_green;
			color: $color_white;
		}
	}
}





#page__content{
	padding: 0 0 90px;
	.content{
		padding: 30px 35px;
		border-radius: 30px;
		background: #F4F6F9;
		font-size: 14px;
		line-height: 200%;

		h1{
			font-weight: normal;
			line-height: 1.2;
			font-size: 30px;
			margin-bottom: 25px;
		}
	}
}




#page__error{
	text-align: center;
	padding: 90px 0;
	color: #B8BDD0;

	.title{
		font-size: 400px;
		line-height: 1;
	}

	p{
		font-size: 48px;
		line-height: 155%;
	}

	a{
		color: $color_black;
		border-bottom: 1px solid $color_black;
		font-size: 16px;
		line-height: 35px;
		&:hover{
			border-color: transparent;
		}
	}
}














.section__title{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;

	a{
		color: $color_black;
		font-size: 16px;

		&:hover{
			color: $color_green;
		}
	}
}

.bt{
	font-size: 30px;
	line-height: 75%;
	font-weight: normal;
}

.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}




.btn-green{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 130px;
	height: 50px;
	background: $color_green;
	color: $color_white;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;

	&:hover{
		background: $color_black;
	}
}


.btn-green-text{
	color: $color_green;
	font-size: 13px;
	font-weight: 600;
	border-bottom: 1px solid transparent;

	&:hover{
		border-color: $color_green;
	}
}


.btn-action{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: $color_white;
	border-radius: 10px;

	&:hover,&.active{
		background: $color_green;

		path{stroke: $color_white;}
	}

	&:last-child{
		&:hover{
			path{fill: $color_white; stroke: transparent;}
		}
	}
}





label.checkbox {
	display: block;
	position: relative;
	padding: 0 0 0 23px;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.1;
	color: $color_grey;
	margin-bottom: 16px;
	&:last-child {
		margin-bottom: 0;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		box-sizing: border-box;
		border-radius: 3px;
		content: '';
		background: $color_white;
	}
	span {
		font-style: normal;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-right: 20px;
		i{
			font-style: normal;
			position: absolute;
			top: 0;
			right: -15px;
			color: $color_black;
			font-size: 12px;
		}
		&:after {
			position: absolute;
			transition: all 0.2s;
			top: 0;
			left: 0px;
			width: 16px;
			height: 16px;
			content: '';
			border-radius: 3px;
			background: $color_white url("../images/check.svg") 50% 50% no-repeat;
			box-sizing: border-box;
			opacity: 0;
			z-index: 2;
		}
	}
	input {
		&:checked {
			+ {
				span {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}






input,button,select,textarea{
	font-family: "Poppins", serif; -webkit-appearance: none;
}

select{
	color: #B8BDD0;
}

::placeholder{
	color: #B8BDD0;
}


@import 'modules/responsive.scss';
