/* ------------------ */
@import url("reset.css");
/* ------------------ */
body {
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	line-height: 1.5;
}
/* ------------------ */
.wrapper {
	min-height: 100%;
}
/* ------------------ */
.page {
	padding: 50px 15px;
}
/* ------------------ */
/* ------------------ */
/* ------------------ */

/* Приклад на початку уроку */
.example {
	margin: 0 auto;
	max-width: 1170px;

	/* Мінімальна ширина та кількість */
	columns: 3 250px;
	/* Відступ між колонками */
	column-gap: 50px;
	/* Границя між колонками */
	column-rule: 5px solid #77608d;
}
.example h2 {
	font-weight: 700;
	font-size: 24px;
	display: block;
	background-color: #7a956b;
	padding: 15px;
	color: #000;
	margin: 20px 0;
	color: #fff;

	/* На ширину усіх колонок */
	column-span: all;
}

/* ---------------------------------- */
/* Властивості батьківського елементу */
/* ---------------------------------- */
/* 
column-count, column-width або columns
Це головні властивості побудови колонок,
відповідають за побудову структури
*/
/* ---------------------------------- */
/*
column-width - визначає базову ширину стовпця. 
Загальна кількість стовпчиків буде максимальною кількістю стовпців, які можуть вміститися у контейнер.
Але фактична ширина стовпчика може бути меншою або більшую за вказане значення.

Значення властивості:
auto (за замовченням) - Ширину стовпчиків буде визначено браузером.
число та одиниця виміру (px, em, rem) - Конкретне значення, структура будується згідно опису
inherit - примусово успадковує значення властивості від батьківського елементу

Властивість не успадковується та не анімується, значення у відсотках не приймаються
*/

/* Приклад */
/*
.text {
	column-width: 200px;
}
*/

/* ---------------------------------- */

/*
column-count - визначає яку кількість колонок треба побудувати. 

Значення властивості:
auto (за замовченням) - Кількість стовбчиків визначається властивістями column-width та column-gap
число - конкретна кількість стовбчиків
inherit - примусово успадковує значення властивості від батьківського елементу

Властивість не успадковується
*/

/* Приклад */
/*
.text {
	column-count:3;
}
*/

/* ---------------------------------- */

/* 
Комбінація основних властивостей
column-count має вищій пріорітет, а column-width, 
в сукупності з властивістю column-count, 
працює як мінімальна ширина колонки
*/

/* Приклад */
/*
.text {
	column-count: 3;
	column-width: 200px;
}
*/

/* ---------------------------------- */

/* 
columns - об'єднує властивості 
column-count та column-width 
*/

/* Приклад */
.text {
	/* columns: 200px; */
	/* або  */
	/* columns: 2; */
	/* або  */
	/* columns: 2 200px; */
}

/* ---------------------------------- */

/* 
column-gap - задає проміжок між стовпчиками.
Значення за замовченням - 1em 
(тобто дорівнює вказаному або успадкованому розміру шрифту)
Властивість не успадковується та анімується.
*/

/* Приклад */
.text {
	/* columns: 2 200px; */
	/* text-align: justify; */
	/* font-size: 24px; */
	/* або */
	/* column-gap: 20%; */
	/* або */
	/* column-gap: 50px; */
}

/* ---------------------------------- */

/* 
column-rule - визначає стиль границь між колонками та є узагальненою 
для установки всіх наступних влативостей:
column-rule-width - Встановлює ширину лінії між колонками. Значення без задання середу medium
column-rule-style - Встановлює стиль лінії між колонами. Значення без задання none
column-rule-color - Встановлює колір лінії між колонами. Значення без задання співпадає з кольором елемента.

Автоматично зникає коли лишається лише одна колонка
Властивість не успадковується та анімується.
*/

/* Приклад */
.text {
	/*
	columns: 2 200px;
	column-gap: 50px;
	column-rule: 5px solid green;
	*/
}

/* ---------------------------------- */

/* column-fill -  визначає, як заповнювати стовпці - збалансовувати чи ні.
balance (за замовченням) - Контент рівномірно розподіляється між колонок.
auto - Стовпці заповнюються послідовно, коли не влазить у колонку по висоті
!! Працює, лише якщо вказана висота
*/

/* Приклад */
.text {
	/*
	padding: 15px;
	columns: 2;
	column-gap: 50px;
	column-rule: 5px dashed green;
	background-color: rgb(66, 66, 66);

	height: 700px;
	*/
	/* column-fill: balance; */
	/* column-fill: auto; */
}

/* ------------------------------- */
/* Властивості вкладених елементів */
/* ------------------------------- */

/* 
column-span - визначає, як повинен відображатися 
елемент в багатоколонковому тексті - 
займати ширину всіх колонок або тільки одну з них.
Властивість не успадковується та не анімується.
*/
/*
.text {
	columns: 2 200px;
	column-gap: 50px;
	column-rule: 5px dashed green;
}
.text h2 {
	background-color: green;
	padding: 15px;
	color: #fff;
	margin: 20px 0;

	column-span: all;
}
*/

/* ------------------------------- */

/* 
break-inside - визначає, чи буде переходити 
контент з одного вкладеного елементу у інший
За замовченням auto, контент може переходити з одного елементу у інший
Значення avoid забороняє цей перехід
Властивість не успадковується
*/
/*
.text {
	columns: 2 150px;
	column-gap: 50px;
	column-rule: 5px dashed green;
}
.text span {
	color: green;
}

.text h2 {
	background-color: green;
	padding: 15px;
	color: #fff;
	margin: 20px 0;
	column-span: all;
}
.text p {
	break-inside: avoid;
}
*/
