{% extends '_inc/layout1.j2' %}

{% block promo %}
<!-- home + -->
{% include '../_inc/categories.j2' %}
<!-- home - -->
{% endblock %}

{% block content %}
<section id="products__list">
  <div class="container">
    <div class="content">
      {{Text2Html(descr)}}
    </div>

    <div class="section__title">
      <h2 class="bt">{{Trans(lang, 'last added')}}</h2>
    </div>

    <div class="products__list">
      {% include '../_inc/products_a.j2' %}
    </div>
  </div>
</section>
<!-- home - -->
{% endblock %}
