{% extends '_inc/layout1.j2' %}

{% block head %}
<meta property="og:image" content="/assets/images/logo.svg">
{% endblock %}

{% block promo %}
<!-- home + -->
<div class="categories">
  {% for Rec in TDbList().Import(dbl_categories) %}
  <div class="item">
    <a href="{{Rec.href}}">
      <div class="icon">
        <img src="/assets/images/category/{{Rec.category}}.svg" alt="{{Rec.category}}">
      </div>
      <span>{{Rec.lang}}</span>
      <p>({{Rec.count}})</p>
    </a>
  </div>
  {% endfor %}
</div>
<!-- home - -->
{% endblock %}

{% block content %}
<!-- home + -->
<section id="products__list">
  <div class="container">
      <div class="section__title">
          <h2 class="bt">{{Trans(lang, 'last added')}}</h2>
      </div>

      <div class="products__list">
        {% include '../_inc/products_a.j2' %}
      </div>
  </div>
</section>

<section id="page__content">
  <div class="container">
    <div class="content">
      {{Trans(lang, 'about')}}
    </div>
  </div>
</section>
<!-- home - -->
{% endblock %}
