{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- home + -->
<h1>{{Translate(lang, 'used_computers')}} - {{country | capitalize}}</h1>

<div class="row">
{% for Rec in TDbList().Import(dbl_category) %}
  <div class="col">
    <a href="{{Rec.href}}">
      <div class="card text-center">
        <img src="{{Rec.image}}" class="card-img-top vGrayscale" alt="{{Rec.lang}}" style="width: 150px;">
        <div class="card-body">
          <div class="card-title">{{Rec.lang | capitalize}} ({{Rec.count}})</div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
<!-- home - -->
{% endblock %}
