<div class="row mt-2">
  <div class="col-3">
    <div class="d-flex gap-2">
      <select class="form-select idCommands">
        <option selected>- select command -</option>
        <optgroup label="scheme">
          <option value="TplSave">save new task</option>
          <option value="TplNew">load new task</option>
          <option value="TplRnd">load example</option>
          <option value="TplModerate">load mederate</option>
        </optgroup>
        <optgroup label="clear">
          <option value="LogClear">clear log</option>
          <option value="CacheClear">clear cache</option>
        </optgroup>
        <option value="PrettySrc">get pretty source</option>
      </select>
      <button class="btn btn-primary flex-fill idBtnTest">
        <input type="checkbox" class="form-check-input me-3 idBtnTestEmul" onclick="event.stopPropagation()">
        test
      </button>
    </div>
  </div>
  <div class="col-9">
    <input type="text" class="form-control idUrl" placeholder="url">
  </div>
</div>
<div class="row mt-2">
  <div class="col-5 editor">
    <div class="numbers">
      <span></span>
    </div>
    <textarea class="form-control idTaScript" wrap="off" placeholder="script"></textarea>
  </div>
  <div class="col-7 editor">
    <div class="numbers">
      <span></span>
    </div>
    <textarea class="form-control idTaResult" wrap="off" placeholder="result"></textarea>
  </div>
</div>
<div class="row mt-2">
  <textarea class="form-control idTaLog" rows="10" placeholder="log"></textarea>
</div>
