<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scheme maker</title>

  <script src="/assets/js/lib.js"></script>
  <link rel="stylesheet" href="/assets/css/scheme.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .nav-tabs .nav-link.active {
        background-color: gray;
        color: white;
    }
  </style>
</head>
<body class="bg-dark">
  <div class="mt-1">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab-product" aria-selected="true">Product</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-category" aria-selected="false">Category</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-service" aria-selected="false">Service</a>
      </li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content">
      <!-- product -->
      <div class="tab-pane show active" id="tab-product">
        {% include './tab_test.j2' %}
      </div>

      <!-- category -->
      <div class="tab-pane" id="tab-category">
        {% include './tab_test.j2' %}
      </div>

      <!-- service -->
      <div class="tab-pane" id="tab-service">
        <div class="row mt-2">
          <div class="d-flex">
            <button class="btn btn-primary" id="BtnHelp">help</button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col container-height-90">
            <textarea class="form-control height-100" id="TaService" readonly></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/jsExt/scheme.js"></script>
  <script type="text/javascript">
    const ScriptProduct = new TScriptTest('product')
    const ScriptCategory = new TScriptTest('category')

    const ElService = document.getElementById('TaService');
    document.getElementById('BtnHelp').onclick = (event) => {
      ElService.value = GetHelp()
    }
  </script>
</body>
</html>
