<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Scheme test</title>

    <script src="/assets/js/lib.js"></script>
    <link rel="stylesheet" href="/assets/css/scheme.css">
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.css">
  </head>

  <body>
    <div class="row mt-1">
      <ul class="nav nav-tabs pt-3" id="tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tab-product" data-bs-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true" >product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-category" data-bs-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-help" data-bs-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">help</a>
        </li>
      </ul>

      <div class="tab-content mt-1">
        <!--  tab_product + -->
        <div class="tab-pane fade show active m-3" id="product" role="tabpanel" aria-labelledby="tab-product">
          <div class="m-5">
            <div class="row mt-3">
              <div class="col-6 editor">
                <div class="numbers">
                  <span></span>
                </div>
                <textarea class="form-control exTextArea" wrap="off" id="ta_script" placeholder="script"></textarea>
              </div>
              <div class="col-6 editor">
                <div class="numbers">
                  <span></span>
                </div>
                <textarea class="form-control" wrap="off" id="ta_result" placeholder="result" readonly></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <textarea class="form-control" id="ta_error" rows="10" placeholder="errors" readonly></textarea>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <button class="btn btn-primary" id="btn_test">Test</button>
              </div>
            </div>
          </div>
          <!--  tab_product - -->

          <!--  tab_category + -->
          <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="tab-category">
          </div>
          <!--  tab_category - -->

          <!--  tab_help + -->
          <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="tab-help">
            <textarea class="form-control" wrap="off" id="ta_help"></textarea>
          </div>
          <!--  tab_help - -->
        </div>
      </div>
    </div>

    <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/jsExt/scheme.js"></script>
    <script type="text/javascript">
      TextNumbering();
      HandleDblClickErr();

      const tabElement = document.getElementById('tabs');
      TabChange(tabElement);
    </script>
  </body>
</html>
