$color_white: #ffffff;
$color_black: #25292C;
$color_green: #7DD017;
$color_red: #fd3733;
$color_grey: #B8BDD0;

$color_bkg: #F4F6F9;

$color_attr_key: black;
$color_attr_val: green;

$font_weight_price: 500;
$font_size_price: 20px;

$grid-columns: 12;
$gutter-width: 16px;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$spacings: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1.0rem,
  4: 1.5rem,
  5: 2.0rem
);

$headings: (
  h1: 2.0rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1.0rem
);
