/* === sidebar === */

@import '../modules/const.scss';


.sidebar__mobile{
  display: none;
}

#sidebar{
  background: $color_bkg;
  padding: 15px 24px 24px;
  border-radius: 30px;
  box-sizing: border-box;

  .box{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .item{
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }

    .title{
      font-size: 16px;
      //color: $color_grey;
      color: black;
      line-height: 1.2;
      padding-right: 30px;
      position: relative;
      cursor: pointer;

      &.open{
        &:after{
          transform: rotate(180deg);
        }
      }

      &:after{
        position: absolute;
        top: 5px;
        right: 0;
        background: url("../images/arrow-down-grey.svg") 100% 50% no-repeat;
        content: '';
        transition: all 0.2s;
        width: 12px;
        height: 6px;
      }
    }

    .data{
      display: none;
      padding: 20px 14px 0;
    }
  }

  /*
  select{
    border-radius: 30px;
    background: url("../images/arrow-down-green.svg") calc(100% - 20px) 50% no-repeat;
    border: 1px solid $color_green;
    padding: 0 40px 0 20px;
    color: $color_attr_val;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
  */

  .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    input{
      min-width: 80px;
      height: 35px;
      padding: 0 10px;
      border-radius: 10px;
      font-size: 14px;
      border: none;
    }

    .btn{
      height: 35px;
      width: 48px;
      padding: 0;
      border-radius: 10px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}