@media screen and (max-width: 1180px) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .form__search input[type=text] {
    width: calc(100% - 400px);
  }
  .products__list .product__item .data {
    width: calc(100% - 300px);
  }
  .products__list .product__item .data .more {
    position: relative;
    margin-top: 20px;
  }
  .products__list .product__item .info {
    width: 80px;
  }
  #page__card .mobile__title {
    display: block;
  }
  #page__card .gallery {
    width: 100%;
    margin-bottom: 30px;
  }
  #page__card .information {
    width: 100%;
    margin-bottom: 30px;
  }
  #page__card .information h1 {
    display: none;
  }
  #page__card .information .from, #page__card .information .detail {
    margin-bottom: 20px;
  }
  .sidebar__mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 240px);
    border: 1px solid var(--black);
    margin-bottom: 20px;
    height: 50px;
    padding: 0 20px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    background: url("../images/icon-filter.svg") calc(100% - 20px) 50% no-repeat;
    background-size: 20px;
    position: relative;
    z-index: 2;
    transition: all 0.2s;
  }
  .sidebar__mobile.open {
    width: 100%;
  }
  #products__list__page #sidebar {
    display: none;
    width: 100%;
    margin-bottom: 80px;
  }
  #products__list__page #sidebar .price input {
    width: 36%;
  }
  #products__list__page #sidebar .price .btn {
    width: 20%;
  }
  #products__list__page #sidebar #price__range, #products__list__page #sidebar .rs-container {
    display: none;
  }
  #products__list__page .product__data {
    width: 100%;
  }
  .pagination .pagination__items {
    justify-content: center;
  }
  #page__error {
    padding: 40px 0;
  }
  #page__error .title {
    font-size: 200px;
  }
  footer .col:nth-child(1) {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .bt {
    font-size: 24px;
    line-height: normal;
  }
  .section__title a {
    display: none;
  }
  header .logo {
    max-width: 150px;
  }
  header .actions {
    gap: 8px;
  }
  header .actions a {
    width: 30px;
    height: 30px;
  }
  header .actions a svg {
    width: 16px;
    height: 16px;
  }
  header .lang {
    font-size: 0 !important;
  }
  header .lang .current {
    padding-right: 15px;
  }
  header .lang ul li a {
    font-size: 0;
  }
  #promo {
    padding: 140px 0 40px;
  }
  #promo h1 {
    line-height: 1.2;
    font-size: 32px;
  }
  .categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .categories .item .icon {
    margin-bottom: 12px;
  }
  .categories .item span {
    font-size: 14px;
  }
  .form__search {
    padding: 10px;
    border-radius: 10px;
  }
  .form__search form {
    height: auto;
  }
  .form__search input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #b8bdd0;
  }
  .form__search select {
    width: 100%;
    border-bottom: 1px solid #b8bdd0;
    margin-bottom: 10px;
  }
  .form__search .btn {
    width: 100%;
    border-radius: 10px;
  }
  #products__list {
    padding: 40px 0;
  }
  .pagination {
    padding: 40px 0 0;
  }
  #products__list__page {
    padding: 0 0 40px;
  }
  .products__list .product__item {
    padding: 20px;
    gap: 20px;
  }
  .products__list .product__item .image {
    width: 100%;
    height: auto;
  }
  .products__list .product__item .data {
    width: 100% !important;
    max-width: 100%;
    padding: 0;
  }
  .products__list .product__item .data .title {
    line-height: 1.3;
  }
  .products__list .product__item .info {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .products__list .product__item .info .price {
    font-size: 18px;
  }
  .products__list .product__item .info .price .old {
    font-size: 14px;
  }
  .products__list .product__item .info .actions {
    position: relative;
  }
  .btn-action img {
    width: 16px;
  }
  #page__card .gallery {
    padding: 15px;
    border-radius: 15px;
  }
  #page__card .gallery .gallery__main {
    width: 100%;
  }
  #page__card .gallery .gallery__main .slick-prev, #page__card .gallery .gallery__main .slick-next {
    top: calc(100% - 40px);
  }
  #page__card .gallery .gallery__thumbs {
    display: none;
  }
  #page__card .information {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 0;
  }
  #page__card .information .from p {
    width: 100%;
  }
  #page__card .information .tth {
    border-radius: 15px;
    padding: 15px;
  }
  #page__card .information .tth .item {
    width: 100%;
  }
  #page__card .other__data {
    padding: 15px;
    border-radius: 15px;
  }
  #page__card .full__tth .item {
    width: 100%;
  }
  #page__card .full__tth .item .row {
    padding: 5px 15px;
  }
  #page__card .full__tth .item .row:after {
    display: none !important;
  }
  #page__card .full__tth .item .row:nth-child(2n+1) {
    background: rgba(125, 208, 23, 0.1) !important;
  }
  #similar__products {
    padding: 40px 0;
  }
  .section__title {
    margin-bottom: 36px;
  }
  #breadcrumbs ul {
    display: inline-block;
  }
  #breadcrumbs li {
    display: inline;
  }
  .page__compare {
    padding: 15px;
    border-radius: 15px;
  }
  .page__compare .list__items {
    border-radius: 15px;
    padding: 0 0 0 170px;
    font-size: 10px;
  }
  .page__compare .list__items .tth {
    width: 170px;
  }
  .page__compare .list__items .tth .row, .page__compare .list__items .tth .image {
    padding-left: 10px;
  }
  #page__content {
    padding: 0 0 40px;
  }
  #page__content .content {
    padding: 15px;
    border-radius: 15px;
  }
  #page__content .content h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  #page__error {
    padding: 40px 0;
  }
  #page__error .title {
    font-size: 100px;
  }
  #page__error p {
    font-size: 20px;
  }
  .products__list.box {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .container .logo {
    margin: 0;
  }
  footer .container .logo img {
    margin: 0 auto 20px;
  }
  footer .container .col {
    width: 48%;
    margin-bottom: 30px;
  }
  footer .container .col:first-child {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .products__list.box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 424px) {
  .sidebar__mobile {
    width: 40px;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
    height: 40px;
    background-position: 50% 50%;
    margin: 0 0 27px;
  }
}
@media screen and (max-width: 374px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=responsive.css.map */