{% extends '_inc/layout1.j2' %}

{% set Fields = ['no', 'site', 'products'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 50px 250px 90px;
  }

  .gitem {
    padding: 1px;
    text-align: left;
  }
  .thumb {
    height: 16px;
    width: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="container pb-2">
  <div class="pb-2">
    <form method="get">
      <input type="hidden" name="route" value="site/add"/>
      <input type="hidden" name="country_id" value="{{country_id}}">
      <input type="hidden" name="lang_id" value="{{lang_id}}">
      <button type="submit" class="btn btn-primary">{{Translate(lang, 'add site')}}</button>
    </form>
  </div>
  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{Translate(lang, xFields)}}</div>
    {% endfor %}

    <div class="gitem">{{cnt_all}}</div>
    <div class="gitem">{{cnt_parsed}}</div>
    <div class="gitem"></div>

    {% for Rec in TDbList().Import(dbl_sites) %}
      <div class="gitem">{{loop.index}}</div>
      <div class="gitem">
        <a href="{{Rec.href}}" rel="nofollow">{{Rec.host}}</a>
      </div>
      <div class="gitem">{{Iif(Rec.products, '+', '')}}</div>
      {% endfor %}
  </div>
</div>
{% endblock %}
