{% extends '_inc/layout1.j2' %}

{% set Fields = ['no', 'site', 'products', 'available', 'discount'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 50px 250px 90px 90px 90px;
  }

  .gitem {
    padding: 1px;
    text-align: left;
  }
  .thumb {
    height: 16px;
    width: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="container pb-2">
  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{xFields}}</div>
    {% endfor %}

    <div class="gitem">{{cnt_all}}</div>
    <div class="gitem">{{cnt_parsed}}</div>
    <div class="gitem">{{"{:,}".format(cnt_products) | replace(",","`")}}</div>
    <div class="gitem">{{"{:,}".format(cnt_onstock) | replace(",","`")}}</div>
    <div class="gitem">{{"{:,}".format(cnt_discount) | replace(",","`")}}</div>

    {% for Rec in TDbList().Import(dbl_sites) %}
      <div class="gitem">{{loop.index}}</div>
      <div class="gitem">
        <a href="{{Rec.url}}" rel="nofollow">{{Rec.host}}</a>
      </div>
      <div class="gitem">{{Iif(Rec.products, Rec.products, '')}}</div>
      <div class="gitem">{{Iif(Rec.onstock, Rec.onstock, '')}}</div>
      <div class="gitem">{{Iif(Rec.discount, Rec.discount, '')}}</div>
      {% endfor %}
  </div>
</div>
{% endblock %}
