{% extends '_inc/layout1.j2' %}

{% set Fields = ['country', 'all', 'enabled'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 250px 100px 100px;
  }

  .gitem {
    padding: 1px;
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container pb-2">
  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{Translate(lang, xFields)}}</div>
    {% endfor %}

    {% for Rec in TDbList().Import(dbl_countries) %}
      <div class="gitem">
        <a href="{{Rec.href}}">{{Rec.country}}</a>
      </div>
      <div class="gitem">{{Rec.cnt_all}}</div>
      <div class="gitem">{{Rec.cnt_enabled}}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
