{% extends '_inc/layout1.j2' %}

{% block promo %}
<!-- site + -->
{% include '../_inc/categories_img.j2' %}
<!-- site - -->
{% endblock %}

{% block content %}
<!-- site + -->
<section id="products__list">
  <div class="container">
    <div class="section__title">
      <h2 class="bt">{{Trans(lang, 'last added')}}</h2>
    </div>

    <div class="products__list">
      <div class="content">
        <h2 class="bt">{{Trans(lang, 'site')}}: <a href="{{url}}" rel="nofollow">{{host}}</a></h2>
        {{Text2Html(descr)}}
      </div>
      {% include '../_inc/products_a.j2' %}
    </div>
  </div>
</section>
<!-- site - -->
{% endblock %}
