{% extends '_inc/layout1.j2' %}

{% block promo %}
<!-- site + -->
{% include '../_inc/categories.j2' %}
<!-- site - -->
{% endblock %}

{% block content %}
<!-- site + -->
<!-- site - -->
{% endblock %}
