{% extends '_inc/layout1.j2' %}

{% set Fields = ['date', 'title', 'price', 'price-old', 'stock'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 130px auto 90px 90px 50px;
  }

  .gitem {
    padding: 0px;
    text-align: left;
  }
  .thumb {
    height: 98px;
    max-width: 128px;
    width: auto;
  }
</style>
{% endblock %}

{% block content %}
{% include '../_inc/pagination.j2' %}
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
{% endblock %}
