{% extends '_inc/layout1.j2' %}

{% set Fields = ['date', 'title', 'price', 'price-old', 'stock'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 130px auto 90px 90px 50px;
  }

  .gitem {
    padding: 0px;
    text-align: left;
  }
  .thumb {
    height: 98px;
    max-width: 128px;
    width: auto;
  }
</style>
{% endblock %}

{% block content %}
<form id="formAttrFilter">
  <input type="hidden" name="route" value="product/category"/>
  <input type="hidden" name="country_id" value="{{info.country_id}}"/>
  <input type="hidden" name="lang_id" value="{{info.lang_id}}"/>
  <input type="hidden" name="f_category" value="{{info.category}}"/>
  {% for Rec in TDbList().Import(dbl_attr) %}
  <label for="{{Rec.key}}">{{lang.get(Rec.key)}}</label>
  <select id="{{Rec.key}}" name="f_{{Rec.key}}">
    <option value="">---</option>
    {% for xStat in Rec.stat %}
      <option value="{{xStat.val}}" {{ Iif(Rec.active == xStat.val, 'selected', '') }}>{{xStat.val}} ({{xStat.cnt}})</option>
    {% endfor %}
  </select>
  <br>
  {% endfor %}
  <button type="submit">Submit</button>
</form>

<script>
  document.getElementById('formAttrFilter').addEventListener('submit', function(event) {
    event.preventDefault();

    const form = event.target;
    for (const element of form.elements) {
        if (element.name && !element.value) {
            element.disabled = true;
        }
    }
    form.submit();
  });
</script>

{% include '../_inc/pagination.j2' %}
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
{% endblock %}
