{% extends '_inc/layout1.j2' %}

{% block content %}
{% set Dbl = TDbList().Import(dbl_compare) %}
<!-- compare + -->
<section id="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="{{href.root}}">Home</a><span> / </span></li>
            <li>{{Trans(lang, 'compare')}}</li>
        </ul>
    </div>
</section>

<section id="page__compare">
    <div class="container">
        <div class="page__compare">
            <div class="list__items">
                <div class="tth">
                {% for xRow in rows %}
                    <div class="{{Iif(xRow == 'image', 'image', 'row')}}">{{Trans(lang, xRow)}}:</div>
                {% endfor %}
                </div>
                <div class="items">
                    <div class="items__full">
                    {% for Rec in Dbl %}
                        <div class="item">
                        {% for xRow in rows %}
                            {% if xRow == 'image' %}
                            <div class="image">
                                <a href="{{Rec.href}}"><img src="{{Rec.image}}"></a>
                            </div>
                            {% else %}
                            <div class="row">{{Rec.GetField(xRow)}}</div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#" class="btn btn-green">Clear all <img src="/assets/images/icon-trash.svg" alt="Clear all"></a>
        </div>
    </div>
</section>

<!-- compare - -->
{% endblock %}
