{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- favorite + -->
<section id="products__list">
  <div class="container pb-2">
    <div class="section__title">
      <h2 class="bt">{{ Trans(lang, 'favorite') }}</h2>
    </div>

    <div id="viProducts">
      <div class="products__list">
      {% include '../_inc/products_a.j2' %}
      </div>

      <div class="pagination">
        <button class="btn btn-green" onclick="btnClear('favorite')">
          {{Trans(lang, 'clear_it')}} <img src="/assets/images/icon-trash.svg" alt="Clear all">
        </button>
      </div>
    </div>
  </div>
</section>
<!-- favorite - -->
{% endblock %}
