{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- history + -->
<section id="products__list">
  <div class="container pb-2">
    <div class="section__title">
      <h2 class="bt">{{ Trans(lang, 'history') }}</h2>
      <a href="#">View all</a>
    </div>

    <div class="products__list">
    {% include '../_inc/products_a.j2' %}
    </div>

    <div class="pagination">
      <a href="#" class="btn btn-green" id="viBtn_Clear">{{Trans(lang, 'clear_it')}}</a>
    </div>
  </div>
</section>

<script>
  btnClear('history');
</script>
<!-- history - -->
{% endblock %}
