{% extends '_inc/layout1.j2' %}

{% block head %}
<meta name="robots" content="index,follow">
<meta property="og:image" content="{{meta_image}}">
<meta property="og:type" content="product">

<script type="application/ld+json">
  {{schema}}
</script>
{% endblock %}

{% block content %}
<!-- product + -->
<section id="page__card">
  <div class="container">
    <div class="main__data">
      <div class="mobile__title">
        {{parsed_data.name}}
      </div>

      <div class="gallery">
        <div class="gallery__main">
          <div class="slider__main">
          {% for xImage in parsed_data.images %}
            <div><img src="{{xImage}}" alt="title"></div>
          {% endfor %}
          </div>
        </div>
        <div class="gallery__thumbs">
          <div class="slider__thumbs">
            {% for xImage in parsed_data.images %}
            <div><img src="{{xImage}}" alt="title"></div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="information">
        <h1>{{parsed_data.name}}</h1>
        <div class="from">
          <p><strong>{{Trans(lang, 'date')}}:</strong> {{update_date.date()}}</p>
          <p><strong>{{Trans(lang, 'location')}}:</strong> {{country_title}}</p>
          <p><strong>{{Trans(lang, 'code')}}:</strong> {{url_id}}</p>
        </div>
        <div class="detail">
          <div class="price">
            {{parsed_data.price[0]}}
            {% if parsed_data.price_old %}
              <div class="old">{{parsed_data.price_old[0]}}</div>
            {% endif %}
          </div>
          <div class="actions">
            <button class="btn btn-action" id="vTo_favorite" title="{{Trans(lang, 'favorite')}}" data-key="favorite">
              <img src="/assets/images/icon-heart.svg" alt="favorite">
            </button>
            <button class="btn btn-action" id="vTo_compare" title="{{Trans(lang, 'compare')}}" data-key="compare">
                <img src="/assets/images/icon-compare.svg" alt="compare">
            </button>
          </div>
          <div class="buy">
              <button class="btn btn-green" onclick="OnAddToCart('{{url}}')">{{Trans(lang, 'buy')}}</buttton>
          </div>
        </div>
        <div class="tth">
            <div class="item">
              {% for Rec in TDbList().Import(dbl_attr) %}
                <div class="row">
                  <p>{{Trans(lang, Rec.key)}}:</p><strong><a href="{{Rec.href}}">{{Rec.val}}</a></strong>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>

      <div class="other__data">
          <div class="tab__filters">
              <a href="#" class="active" data-tab="tab1">{{Trans(lang, 'features')}} ({{parsed_data.features | length}})</a>
              <a href="#" data-tab="tab2">{{Trans(lang, 'description')}} ({{Iif(parsed_data.description, '+', '-')}})</a>
          </div>

          <div class="tabs">
              <div class="tab tab1">
                  <div class="full__tth">
                    <div class="item">
                    {%- for xKey, xVal in parsed_data.features.items() %}
                      <div class="row">{{xKey}}: {{xVal}}</div>
                    {%- endfor %}
                    </div>
                  </div>
              </div>
              <div class="tab tab2">
                  <div class="content">
                    {{Text2Html(parsed_data.description)}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<script src="/assets/jsExt/product.js"></script>
<script>
  AddHistory('{{url_id}}');

  OnProductCompareFavorite(
    '{{url_id}}',
    {
      'compare': '{{href.compare}}',
      'favorite': '{{href.favorite}}'
    }
  );
</script>

<!-- product - -->
{% endblock %}
