{% extends '_inc/layout1.j2' %}

{% set Fields = ['date', 'title', 'price', 'price-old', 'stock'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 100px auto 90px 90px 50px;
  }

  .gitem {
    border: 1px solid black;
    padding: 0px;
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container pb-2">
  {% include '../_inc/pagination.j2' %}

  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{xFields}}</div>
    {% endfor %}

    {% for Rec in TDbList().Import(dbl_products) %}
      <div class="gitem">{{Rec.update_date.strftime('%Y-%m-%d')}}</div>
      <div class="gitem" title="{{Rec.title}}">{{Rec.title |truncate(100, True, '...')}}
        <div title="{{Rec.url}}"><a href="{{Rec.url}}" target="_blank">{{Rec.url |truncate(50, True, '...')}}</a></div>
      </div>
      <div class="gitem">{{"{:,}".format(Rec.price|int)}}</div>
      <div class="gitem">{% if Rec.price_old and Rec.price_old != Rec.price %} {{"{:,}".format(Rec.price_old|int) }} {%endif %}</div>
      <div class="gitem">{{Iif(Rec.stock, '+', '')}}</div>
    {% endfor %}
  </div>

  {% include '../_inc/pagination.j2' %}
</div>
{% endblock %}
