{% extends '_inc/layout1.j2' %}

{% block content %}
<section id="products__list">
    <div class="container pb-2">
      <div class="section__title">
        <h2 class="bt">{{ Trans(lang, 'search') }}</h2>
        <a href="#">View all</a>
      </div>

      <div class="pagination">
        {% include '../_inc/pagination.j2' %}
      </div>

      <div class="product__data" id="viProducts">
        <div class="filters">
          <div class="views">
              <button class="btn btn-action active" data-view="list"><img src="/assets/images/icon-list.svg" alt="list"></button>
              <button class="btn btn-action" data-view="box"><img src="/assets/images/icon-box.svg" alt="list"></button>
          </div>
          <div class="sorting">
              <select>
                  <option>Featured</option>
                  <option>Featured</option>
                  <option>Featured</option>
                  <option>Featured</option>
              </select>
          </div>
        </div>

        <div class="products__list">
          {% include '../_inc/products_a.j2' %}
        </div>

        <div class="pagination">
          {% include '../_inc/pagination.j2' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
