{% extends '_inc/layout1.j2' %}

{% block content %}
<h2>{{Translate(lang, 'site')}} - <a href="{{href.site}}">{{host}}</a></h2>
{% include '../_inc/attr_filter.j2' %}
{% include '../_inc/pagination.j2' %}
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
{% endblock %}
