{% extends '_inc/layout1.j2' %}

{% set Fields = ['date', 'title', 'price', 'price-old'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 130px auto 90px 90px;
  }

  .gitem {
    padding: 0px;
    text-align: left;
  }
  .thumb {
    height: 98px;
    max-width: 128px;
    width: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="pb-2">
  <h2><a href="{{info.url}}" rel="nofollow" target="_blank">{{info.host}}</a></h2>
</div>
<div>
  <h2>{{Translate(lang, 'category')}}: {{Translate(lang, info.category)}}</h2>
</div>

<form id="formAttrFilter">
  <input type="hidden" name="route" value="product/site"/>
  <input type="hidden" name="lang_id" value="{{info.lang_id}}"/>
  <input type="hidden" name="site_id" value="{{info.site_id}}"/>
  <input type="hidden" name="f_category" value="{{info.category}}"/>
  {% for Rec in TDbList().Import(dbl_attr) %}
  <div class="row">
    <div class="col-2">
      <label for="{{Rec.key}}">{{Translate(lang, Rec.key)}}</label>
    </div>
    <div class="col-2">
      <select class="form-select w-100" id="{{Rec.key}}" name="f_{{Rec.key}}">
      <option value="">---</option>
      {% for xStat in Rec.stat %}
        <option value="{{xStat.val}}" {{ Iif(Rec.active == xStat.val, 'selected', '') }}>{{xStat.val}} ({{xStat.cnt}})</option>
      {% endfor %}
    </select>
    </div>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">{{Translate(lang, 'filter')}}</button>
  <button class="btn btn-primary" onclick="clearSelects()">{{Translate(lang, 'clear_it')}}</button>
</form>

<script>
  const formAttrFilter = document.getElementById('formAttrFilter')

  formAttrFilter.addEventListener('submit', function(event) {
    event.preventDefault();

    const form = event.target;
    for (const element of form.elements) {
        if (element.name && !element.value) {
            element.disabled = true;
        }
    }
    form.submit();
  });

  function clearSelects() {
    event.preventDefault();
    formAttrFilter.querySelectorAll('select').forEach(function(selectElement) {
        selectElement.selectedIndex = 0;
    });
}
</script>

{% include '../_inc/pagination.j2' %}
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
{% endblock %}
