<div id="sidebar">
  <div class="box">
    <h2 id="idCategory" data-value="{{category}}">{{Trans(lang, 'category')}}</h2>
    <select onchange="window.location.href=this.value">
    {% for Rec in TDbList().Import(dbl_categories) %}
      <option value="{{Rec.href}}" {{ Iif(Rec.category == category, 'selected', '') }}>{{Trans(lang, Rec.category)}} ({{Rec.count}})</option>
    {% endfor %}
    </select>
  </div>
  <div class="box mt-5">
    <form method="get" id="formAttrFilter">
      <div class="box">
        <div class="title">{{Trans(lang, 'price')}}</div>
        <div class="price">
            <input type="number" name="f_price_min" min="{{price_min}}" step="100" value="{{query.f_price_min}}" placeholder="{{price_min}}" class="minprice">
            <input type="number" name="f_price_max" max="{{price_max}}" step="100" value="{{query.f_price_max}}" placeholder="{{price_max}}" class="maxprice">
            <button type="button" class="btn btn-green-base" onclick="AttrSelect.OnSelect()">ok</button>
        </div>
      </div>
      <input type="hidden" name="country_id" value="{{query.country_id}}">
      <input type="hidden" name="site_id" value="{{query.site_id}}">
      {% for Rec in TDbList().Import(dbl_attr) %}
        <div class="mt-2">
          <label for="{{Rec.key}}">{{Trans(lang, Rec.key)}} ({{attr_cnt[Rec.key]}})</label>
          <div>
              <select id="{{Rec.key}}" name="f_{{Rec.key}}">
                <option value="">--- ({{Rec.total}})</option>
                {% for xKey, xVal in Rec.stat.items() %}
                <option value="{{xKey}}" {{ Iif(Rec.active == xKey, 'selected', '') }}>{{xKey}} ({{xVal}})</option>
                {% endfor %}
              </select>
          </div>
        </div>
      {% endfor %}
      <div class="mt-3 d-flex gap-3">
        <button class="btn btn-green-base" onclick="seoSubmit(event, '{{href.btn_attr}}')">ok</button>
        <button class="btn btn-green-base" id="btnFilterClear">{{Trans(lang, 'clear_it')}}</button>
      </div>
    </form>
  </div>
</div>

<script src="/assets/js/TDbList.js"></script>
<script src="/assets/jsExt/attr_filter.js"></script>
<script>
  const AttrSelect = new TAttrSelect(document.getElementById('formAttrFilter'), '{{type}}');
  AttrSelect.OnBtnClear('btnFilterClear');
</script>
