  <div>
    <h2>{{Translate(lang, 'category')}}: {{Translate(lang, category)}}</h2>
  </div>

  <form method="get" id="formAttrFilter">
    <input type="hidden" name="site_id" value="{{site_id}}">
    {% for Rec in TDbList().Import(dbl_attr) %}
    <div class="row">
      <div class="col-2">
        <label for="{{Rec.key}}">{{Translate(lang, Rec.key)}}</label>
      </div>
      <div class="col-2">
        <select class="form-select w-100" id="{{Rec.key}}" name="f_{{Rec.key}}">
        <option value="">---</option>
        {% for xStat in Rec.stat %}
          <option value="{{xStat.val}}" {{ Iif(Rec.active == xStat.val, 'selected', '') }}>{{xStat.val}} ({{xStat.cnt}})</option>
        {% endfor %}
      </select>
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" onclick="seoSubmit(event, '{{btn}}')">{{Translate(lang, 'filter')}}</button>
    <button class="btn btn-primary" onclick="clearSelects(event)">{{Translate(lang, 'clear_it')}}</button>
  </form>

  <script>
    const formAttrFilter = document.getElementById('formAttrFilter')

    function clearSelects(event) {
      event.preventDefault();
      formAttrFilter.querySelectorAll('select').forEach(function(selectElement) {
          selectElement.selectedIndex = 0;
      });
    }
  </script>
