<!-- footer + -->
<footer>
    <div class="container">
        <div class="col">
            <div class="logo">
                <a href="{{href.root}}"><img src="/assets/images/logo-footer.svg" alt="logo"></a></div>
            <div class="form__subscribe">
                <form>
                    <input type="email" name="email" placeholder="Your Email">
                    <button class="btn btn-green-text">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="col__title">For users</div>
            <ul>
                <li><a href="#">FAQ for users</a></li>
                <li><a href="#">User agreement</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="col__title">For partners</div>
            <ul>
                <li><a href="#">Connect a store</a></li>
                <li><a href="#">About the project.</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Place an advert</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            © 2024-{{now_year}} it.findwares.com
        </div>
    </div>
</footer>
<!-- footer - -->
