<!-- footer + -->
<p class="mb-0">© 2024-{{now_year}}, findwares.com, by VladVons@gmail.com</p>
{% if href %}
  <a href="{{href.countries}}">{{Translate(lang, 'countries')}}</a>
{% endif %}
<!-- footer - -->
