<!-- header + -->
<div class="logo-and-select">
  <div class="logo">
    <a href="/"><img src="logo.png" alt="Logo" height="40"></a>
  </div>
  <select class="form-select ms-2 d-md-none">
    <option selected>ua</option>
    <option value="1">ua</option>
    <option value="2">pl</option>
  </select>
</div>

<form class="search-group ms-3" method="get" autocomplete="off" id="viSearchForm">
  <input type="hidden" name="route" value="product/search"/>
  <input type="text" class="form-control search-input" name="q" value="{{search}}" id="viSearchInput" placeholder="{{Translate(lang, 'search')}}">
  <button type="submit" class="search-icon ms-2" aria-label="Search">
    <i class="bi bi-search"></i>
  </button>
  <select class="form-select ms-2 d-none d-md-inline" name="country_id" id="viCountry">
    {% for Rec in TDbList().Import(dbl_country) %}
      <option value="{{Rec.id}}" {{Iif(Rec.id == country_id, 'selected', '')}}>{{Rec.alias}}</option>
    {% endfor %}
  </select>
</form>

<script type="text/javascript">
    const elForm = document.getElementById('viSearchForm');
    const elSearch = document.getElementById('viSearchInput');

    document.getElementById('viCountry').addEventListener('change', (event) => {
      const Search = elSearch.value.trim();
      if (Search == '') {
        elForm.querySelector('input[name="route"]').remove();
      }
      elForm.submit();
  });
</script>
<!-- header - -->
