<!-- header + -->
<div class="logo-and-select">
  <div class="logo">
    <a href="{{href.root}}"><img src="/assets/img/logo-1x1.png" alt="Logo" height="40"></a>
  </div>
  <select class="form-select ms-2 d-md-none">
    <option selected>ua</option>
    <option value="1">ua</option>
    <option value="2">pl</option>
  </select>
</div>

<form method="get" class="search-group ms-3" autocomplete="off" id="viSearchForm">
  <input type="hidden" name="route" value="product/search"/>
  <input type="text" class="form-control search-input" name="q" value="{{search}}" id="viSearchInput" placeholder="{{Translate(lang, 'search')}}">
  <button type="submit" class="search-icon ms-2" aria-label="Search">
    <i class="bi bi-search"></i>
  </button>
  <select class="form-select ms-2 d-none d-md-inline" name="country_id" id="viCountry">
    {% for Rec in TDbList().Import(dbl_country) %}
      <option value="{{Rec.id}}" {{Iif(Rec.id == country_id, 'selected', '')}}>{{Rec.alias}}</option>
    {% endfor %}
  </select>
</form>

<script type="text/javascript">
    LocalDb = new TLocalStorage();

    const elForm = document.getElementById('viSearchForm');
    const elSearch = document.getElementById('viSearchInput');

    document.getElementById('viCountry').addEventListener('change', (event) => {
      const langId = event.target.value;

      const curUrl = window.location.href;
      const urlObj = new URL(curUrl, window.location.origin);
      urlObj.searchParams.set('lang_id', langId);
      newUrl = urlObj.toString();
      //console.log(event.target.value, newUrl);

      LocalDb.addItemToListUniq({'lang_id': langId});
      LocalDb.save();

      const Search = elSearch.value.trim();
      if (Search == '') {
        elForm.querySelector('input[name="route"]').remove();
      }
      //elForm.submit();
  });
</script>
<!-- header - -->
