<!-- header + -->
<header>
  <div class="container">
      <div class="logo"><a href="{{href.root}}"><img src="/assets/images/logo.svg" alt="logo"></a></div>
      <div class="actions">
          <a class="btn btn-action" id="viBtnOn_history">
              <img src="/assets/images/icon-history.svg" alt="{{Trans(lang, 'history')}}">
              <span class="badge" id="viCount_history"></span>
          </a>
          <a class="btn btn-action" id="viBtnOn_favorite">
              <img src="/assets/images/icon-heart.svg" alt="{{Trans(lang, 'favorite')}}">
              <span class="badge" id="viCount_favorite"></span>
            </a>
          <a class="btn btn-action" id="viBtnOn_compare">
              <img src="/assets/images/icon-compare.svg" alt="{{Trans(lang, 'compare')}}">
              <span class="badge" id="viCount_compare"></span>
          </a>
      </div>
  </div>
</header>
<!-- header - -->
