<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="{{copyright}}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if meta_descr %}
    <meta name="description" content="{{meta_descr}}"/>
    {% endif %}
    {% if title %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{title}}"/>
    {% endif %}

    {% block head %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/img/logo-1x1.png">

    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendor/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>
    <div id="sect-top p-0 m-0">
      {% include './header.j2' %}
    </div>

    <div id="sect-main" class="container-fluid p-0 m-0 wd-100">
      <div class="row wd-100">
        <div id="sect-main-center" class="col-12 col-sm-10">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <div id="sect-bottom p-0 m-0 ">
      {% include './footer.j2' %}
    </div>

    <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
