<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>HomePage</title>

    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    {% block head %}{% endblock %}
</head>

<body id="startpage">
    {% include './header.j2' %}

    <section id="promo">
        <div class="container">
            <h1>Find your <strong>dream wares</strong> here!</h1>

            <div class="form__search">
                <form>
                    <input type="text" name="s" placeholder="Write title or keyword">
                    <select>
                        <option selected="true" disabled="disabled">{{Translate(lang, 'location')}}</option>
                        {% for Rec in TDbList().Import(dbl_country) %}
                        <option value="{{Rec.id}}" data-lang="{{Rec.lang_id}}" {{Iif(Rec.id == country_id, 'selected', '')}}>{{Rec.title}} ({{Rec.alias}})</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-green">{{Translate(lang, 'search')}}</button>
                </form>
            </div>
            {% block promo %}{% endblock %}
        </div>
    </section>

    {% block content %}{% endblock %}
    {% include './footer.j2' %}

    <script type="text/javascript" src="/assets/jsExt/main.min.js"></script>
</body>
</html>