<!-- pagination + -->
<div class="pagination">
  <div class="pagination__items">
    {%set Dbl = TDbList().Import(dbl_pagenation) %}
    {% if (Dbl.GetSize() > 1) %}
      {% for Rec in Dbl %}
        {% if Rec.current %}
          <span>{{Rec.title}}</span>
        {% else %}
          <a href="{{Rec.href}}">{{Rec.title}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<!-- pagination - -->
