<div class="products__list">
  {% for Rec in TDbList().Import(dbl_products) %}
  <div class="product__item">
    <div class="image">
      <a href="{{Rec.href}}"><img src="{{Rec.image}}" alt="{{Rec.title}}"></a>
    </div>
    <div class="data">
      <div class="title">
        <a href="{{Rec.href}}">{{Rec.title |truncate(100, True, '...')}}</a>
      </div>

      {% if Rec.attr %}
        <div class="tth">
        {% for xKey, xVal in Rec.attr.items() %}
          <p><strong>{{Trans(lang, xKey)}}: </strong>{{xVal}}</p>
        {% endfor %}
        </div>
      {% endif %}

      <div class="more">
        <p><strong>Date: </strong>{{Rec.update_date.strftime('%Y-%m-%d')}}</p>
        <p><strong>Code: </strong>{{Rec.url_id}}</p>
      </div>
    </div>

    <div class="info">
      <div class="price">
        {% if Rec.price_old %}
          <div class="old">{{"{:,}".format(Rec.price_old|int)}}</div>
        {% endif %}
        {{"{:,}".format(Rec.price|int)}}
      </div>
      <div class="actions">
        <a href="#" class="btn btn-action" title="{{Trans(lang, 'favorite')}}">
          <img src="/assets/images/icon-heart.svg" alt="favorite">
        </a>
        <a href="#" class="btn btn-action" title="{{Trans(lang, 'compare')}}">
          <img src="/assets/images/icon-compare.svg" alt="compare">
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
