.chat-container {
    width: 300px;
    position: fixed;
    bottom: 55px;
    right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background: white;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #28a745;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 5px;
}

.chat-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-message {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.chat-user {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}


.chat-manager {
    background-color: #f1f1f1;
    text-align: left;
    margin-bottom: 10px;
}

.chat-date {
    text-align: right;
    color: #978585;
    padding-right: 10px;
}

.chat-input-container {
    margin-top: 10px;
    display: flex;
}

.chat-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}

.chat-btn {
    padding: 5px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.chat-btn-toggle {
    position: fixed;
    bottom: 10px;
    right: 90px;
    background: #7DD017;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 40%;
    width: 50px;
    height: 40px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-btn-close {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}
