  body, textarea {
    font-family: Consolas, "Courier New", Courier, monospace;
    background-color: #121212;
    color: #e0e0e0;
    resize: none;
  }

  .exTextArea {
    overflow-y: hidden;
    resize: none;
    line-height: 1.5em;
    --white-space: pre;
  }

  #highlight {
    position: absolute;
    background-color: rgba(173, 216, 230, 0.3);
    width: 50%;
    pointer-events: none;
    z-index: 0;
  }

  .editor {
    display: inline-grid;
    grid-template-columns: 3em auto;
    gap: 10px;
    --background: rgb(40 42 58);
    border-radius: 2px;
    overflow-y: auto;
    min-height: 500px;
    max-height: 600px;
  }

  .editor>* {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .numbers {
    text-align: right;
    background: #333;
    padding-right: 5px;
  }

  .numbers span {
    counter-increment: linenumber;
  }

  .numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #888;
  }
